<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}自由之翼</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/markdownit.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <navbar>
    <div class='navbar'>
        <div class='navbar-inner'>
            <div class='container'>
                <a class='brand' href='/'>
                    <img src="//static2.cnodejs.org/public/images/cnodejs_light.svg" />
                </a>

                <form id='search_form' class='navbar-search' action="/search">
                    <input type='text' id='q' name='q' class='search-query span3' value='' />
                </form>
                <ul class='nav pull-right'>
                    <li><a href='/'>首页</a></li>

                    <li><a href="{{ url_for('main.user', username = current_user.username) }}">用户</a></li>

                    <li><a href="/about" target="">关于</a></li>

                    <li><a href="{{ url_for('auth.register') }}">注册</a></li>

                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">登出<span class="sr-only">(current)</span></a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                    {% endif %}

                </ul>
                <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
    {% block navbar %}{% endblock %}
    </navbar>
    <content>
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
            {% endfor %}
            
        {% block page_content %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
    </content>
    </div>
</body>

</html>